@CHARSET "UTF-8";

/* main */
.logo{background: url(../img/logo+fork_resize.png) no-repeat; font-size: 0; width: 100px;}

.control{margin-top: 150%;}

.about{height: 100%; overflow: hidden; font-size: 15px;}
.about #tabs ul{height: 100%; overflow: hidden; margin: 0; padding: 0;}
.about #tabs li{list-style: none; margin: 0; padding: 10px; float: left; width: 33%; font-size: 20px; text-align: center;	}
.about #tabs .tab_on{background: #337ab7; color: #ffffff; border-bottom: 1px solid #337ab7;}
.about #tabs .tab_off{background: inherit; color: #333; border-bottom: 1px solid #337ab7;}
.about .tabContainer > div:FIRST-CHILD{display: block;}
.about .tabContainer > div{display: none;}
.about .tabContainer p{margin: 15px;}

.menuMain .content1_main {background: url(../img/food04.jpg) no-repeat center top fixed;}
.menuMain .content2_main {background: url(../img/food01.jpg) no-repeat center center fixed;}
.menuMain .content3_main {background: url(../img/food02.jpg) no-repeat center top fixed;}
.menuMain .content4_main {background: url(../img/food03.jpg) no-repeat center center fixed;}
.menuMain .content1_main, .content2_main, .content3_main, .content4_main {height: 200px; text-align: center; font-weight: 300; padding: 0 200px;}
.menuMain h1{text-align: center; padding-top: 8%; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); color: #fff;}
.menuMain h4{text-align: center; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); color: #fff;}

.main_reserve{width: 300px; height: 100%; overflow: hidden; margin: 0 auto; background: #ffffff; text-align: center; font-weight: lighter;}
.main_reserve .cal_title{width: 120px; height: 100%; overflow: hidden; margin: 5px auto;}
.main_reserve .cal_title a{text-decoration: none; color: #337ab7; float: left; font-weight: bold;}
.main_reserve .cal_title h3{margin: 0 5px 0 5px; float: left; font-size: 14px;}
.main_reserve #reserveTbl{width: 100%; height: 100%; overflow: hidden; margin: 0 auto; font-weight: lighter;}
.main_reserve #reserveTbl th{text-align: center; font-weight: bold; height: 30px; border-bottom: 2px solid #337ab7;}
.main_reserve #reserveTbl td{padding: 10px; font-weight: lighter;}
.main_reserve #reserveTbl td:hover{background: #c0c0c0; display: block;}
.main_reserve #reserveTbl td .reserv{font-weight: bold; color: red;}

.today_reserve h3{float: left;}
.today_reserve #goReservation{width: 80px; height: 25px; background: #337ab7; color: #fff; border: none; float: right; margin-top: 25px;}
.today_reserve #goReservation:hover{background: #89aaed; color: #fff;}
.today_reserve .todayReserve{width: 100%; height: 100%; overflow: hidden; margin: 0 auto; font-weight: lighter;}
.today_reserve .todayReserve th{text-align: center; font-weight: bold; height: 30px; border-bottom: 2px solid #337ab7;}
.today_reserve .todayReserve td{text-align: center; border-bottom: 1px solid #e7e7e7;}

.main_board{height: 100%; overflow: hidden;}
.main_board .boardWrap .notice_title h3{width: 50%; margin-bottom: 20px;}
.main_board .boardWrap .notice_title #more{color: inherit; text-decoration: none; margin-right: 5px; float: right;}

.main_board .boardWrap table{width: 50%; margin: 0 0 20px 0;}
.main_board .boardWrap th{background: #337ab7; color: white; font-size: 18px; font-weight: bold; text-align: center; padding: 6px;}
.main_board .boardWrap tr{border-bottom: 1px solid #e9e9e9; font-size: 15px; font-weight: normal;}
.main_board .boardWrap tr:last-child{border-bottom: 2px solid #999;}
.main_board .boardWrap tr:hover td{background: #e7e7e7}
.main_board .boardWrap tr td:nth-child(1) img{margin: 0; padding: 0;}
.main_board .boardWrap tr td{text-align: center;}
.main_board .boardWrap tr td:nth-child(2){text-align: left;}
.main_board .boardWrap #link{text-decoration: none; color: inherit; cursor: pointer;}
.main_board .boardWrap #link:hover{text-decoration: underline;}

.main_board2 .boardWrap2 .notice_title h3{width: 100%; margin-bottom: 20px; }
.main_board2 .boardWrap2 .notice_title #more{color: inherit; text-decoration: none; margin-right: 5px; float: right;}

.main_board2 .boardWrap2 .board2{width: 100%; height: 100%; overflow: hidden;}
.main_board2 .boardWrap2 .board2 .letter{width: 31%; float: left; margin: 0 5px; padding: 5px; border: 1px solid #ccc;}
.main_board2 .boardWrap2 .board2 .letter #link{text-decoration: none; color: inherit; cursor: pointer;}
.main_board2 .boardWrap2 #link:hover{text-decoration: underline;}
/* main */

/* nav */
nav #welcome{margin: 15px 0 15px 0;}
/* nav */

/* login */
.loginForm{width: 600px; height: 300px; margin: 0 auto; padding: 20px;}
.loginForm table{padding: 10px; font-size: 18px; margin: 0 auto;}
.loginForm td{padding: 5px;}
.loginForm p{width: 100%; height: 100%; overflow: hidden; magin: 0 auto; padding: 20px;}

.loginForm span{box-sizing: border-box; color: red; font-size: 11px;}
.loginForm #user_id,#user_pw{width: 100%;}

.loginForm #user_idChk{width: 100px; height: 30px; background: #337ab7; color: #fff; border: none;}
.loginForm #user_idChk:hover{background: #89aaed; color: #fff;}
.loginForm #loginBtn{width: 150px; height: 40px; background: #337ab7; color: #fff; border: none;}
.loginForm #loginBtn:hover{background: #89aaed; color: #fff;}
.loginForm #resetBtn,#cancelBtn{width: 150px; height: 40px; background: #77778b; color: #fff; border: none;}
.loginForm #cancelBtn:hover{background: #7583a0; color: #fff;}

.loginForm p{border: 1px solid #555; width: 270px; height: 90px; margin: 5px; float: left; font-size: 18px;}
/* login */

/* member_join */
.joinWrap{width: 700px; height: 100%; overflow: hidden; margin: 0 auto; padding: 20px;}
.joinWrap h1{margin-top: 0;}

.agreeWrap{width: 100%; height: 430px; overflow: hidden;}
.agree{padding-bottom: 10px;}
.agreeBtn{float: right; margin: 5px auto;}
.agreeBtn input{margin: 0 10px;}

.joinForm{width: 100%; height: 100%; overflow: hidden;}
.joinForm table{width: 100%; height: 100%; font-size: 18px; font-weight: normal;}
.joinForm span{color: red; font-size: 12px;}
.joinForm input:-ms-input-placeholder{color: #a9a9a9; font-size: 16px;}
.joinForm input::-webkit-input-placeholder{color: #a9a9a9; font-size: 15px;}
.joinForm input{height: 30px;}
.joinForm tr td:FIRST-CHILD{text-align: right; font-weight: 500;}
.joinForm tr:last-child td{text-align: center;}
.joinForm tr:nth-child(3){border-bottom: 1px solid #e9e9e9; margin: 500px 0;}
.joinForm td{padding: 10px;}

.joinForm .emailAddr{width: 200px; height: 30px;}
.joinForm #user_id{width: 76%;}
.joinForm #user_pw,#user_pwChk,#user_name,#address,#address2{width: 100%; margin-bottom: 3px;}
.joinForm #birthY,#birthM,#birthD{width: 15%;}
.joinForm #phoneNum1,#phoneNum2,#phoneNum3{width: 15%;}

.joinForm #user_idChk{width: 110px; height: 30px; background: #337ab7; color: #fff; border: none;}
.joinForm #user_idChk:hover{background: #89aaed; color: #fff;}

.joinForm #postcodeBtn{width: 130px; height: 30px; background: #337ab7; color: #fff; border: none; margin-bottom: 3px;}
.joinForm #postcodeBtn:hover{background: #89aaed; color: #fff;}

.joinForm #joinBtn{width: 120px; height: 40px; background: #337ab7; color: #fff; border: none; margin: 10px 10px 10px 10%;}
.joinForm #joinBtn:hover{background: #89aaed; color: #fff;}
.joinForm #cancelBtn{width: 120px; height: 40px; background: #a91414; color: #fff; border: none; margin: 10px 0 10px 10px;}
.joinForm #cancelBtn:hover{background: #d8736c; color: #fff;}
.joinForm #resetBtn{width: 120px; height: 40px; background: #77778b; color: #fff; border: none; margin: 10px auto;}
.joinForm #resetBtn:hover{background: #7583a0; color: #fff;}
/* member_join */

/* member_info */
.mInfoWrap{width: 900px; height: 100%; overflow: hidden; margin: 0 auto;}
.mInfoWrap ul{list-style: none; width: 380px; margin: 0 auto;}
.mInfoWrap ul li{background: #e7e7e7; width: 150px; height: 150px; text-align: center; float: left; margin: 0 5px 30px 5px;}
/* member_info */

/* joinComplete */
.join_Complete{width: 900px; height: 100%; overflow: hidden; margin: 0 auto;}
.join_Complete h1{width: 100%; height: 100%; text-align: center; margin-bottom: 20px;}
.join_Complete p{width: 100%; height: 100%; text-align: center; font-size: 15px; font-weight: normal;}
.join_Complete span{color: red; font-size: 12px; font-size: 15px; font-weight: normal;}

.join_Complete #mainBtn{width: 150px; height: 40px; background: #77778b; color: #fff; border: none; font-size: 16px; margin: 10px 10px 10px 30%;}
.join_Complete #mainBtn:hover{background: #7583a0; color: #fff;}
.join_Complete #loginBtn{width: 150px; height: 40px; background: #337ab7; color: #fff; border: none; font-size: 16px;}
.join_Complete #loginBtn:hover{background: #89aaed; color: #fff;}
/* joinComplete */

/* member_modi */
#modiTable span{color: red; float: right;}
/* member_modi */

/* sub_about */
.about_sub dl{width: 100%; height: 100%; overflow:hidden; box-sizing: border-box;}
.about_sub dt{float: left; clear: left; width: 20%; box-sizing: border-box; font-size: 30px; font-weight: bold; color: #888;}
.about_sub dt span{border-bottom: 5px solid #337ab7; margin: 0 10px 0 0; float: right;}
.about_sub dd{float: right; width: 80%; box-sizing: border-box;}
.about_sub p{margin: 5px 5px 20px 5px;}
/* sub_about */

/* sub_menu */
.menu .content1 {background: url(../img/food04.jpg) no-repeat center top fixed;}
.menu .content2 {background: url(../img/food01.jpg) no-repeat center center fixed;}
.menu .content3 {background: url(../img/food02.jpg) no-repeat center top fixed;}
.menu .content4 {background: url(../img/food03.jpg) no-repeat center center fixed;}
.menu .content1, .content2, .content3, .content4 {height: 500px; text-align: center; font-weight: 300; padding: 0 200px;}

.menu h1{text-align: center; padding-top: 18%; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); color: #fff;}
.menu h4{text-align: center; text-shadow: 2px 2px 3px rgba(0,0,0,0.6); color: #fff;}
/* sub_menu */

/* sub_reserve */
.reservation{width: 900px; height: 100%; overflow: hidden; margin: 0 auto;}

.reservMenu{width: 20%; height: 100%; overflow: hidden; float: left;}
.reservMenu a{text-decoration: none; color: inherit; clear: both; background: #e7e7e7; float: left; text-align: right; width: 150px; box-sizing: border-box; padding: 6px; margin: 2px auto;}
.reservMenu a:hover{color: #337ab7}
.reservMenu #reservCal:hover{background: #e7e7e7 url(../img/bullet.gif) no-repeat; background-position: 15px center;}
.reservMenu #reservation:hover{background: #e7e7e7 url(../img/bullet.gif) no-repeat; background-position: 15px center;}
.reservMenu #reservChk:hover{background: #e7e7e7 url(../img/bullet.gif) no-repeat; background-position: 15px center;}

.reserveWrap{width: 80%; height: 100%; overflow: hidden; margin: 0 auto; padding-left: 10px;}
.reserveWrap .calTitle{width: 180px; height: 100%; overflow: hidden; margin: 10px auto;}
.reserveWrap a{text-decoration: none; color: #337ab7; font-weight: bold; font-size: 25px; margin-top: -5px; float: left;}
.reserveWrap h3{margin: 0 5px 0 5px; float: left;}

.reserveWrap #reserveTbl{width: 100%; height: 500px; overflow: hidden; margin: 0 auto;}
.reserveWrap #reserveTbl tr:nth-child(1) th{border-bottom: 4px solid #337ab7; height: 40px; font-size: 16px;}
.reserveWrap #reserveTbl th{text-align: center;}
.reserveWrap #reserveTbl tr td{border-right: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;}
.reserveWrap #reserveTbl tr td dt{margin-top: -20px; padding-left: 10px; width: 100%; clear: both; display:inline-block;}
.reserveWrap #reserveTbl tr:last-child td{border-bottom: none;}
.reserveWrap #reserveTbl tr td:last-child{border-right: none;}

.reserveWrap #reservation{width: 100%; height: 100%; overflow: hidden; margin: 5px auto;}
.reserveWrap #reservation tr{border-bottom: 1px solid #e7e7e7;}
.reserveWrap #reservation tr:last-child{border-bottom: none;}
.reserveWrap #reservation tr th{height: 40px; font-size: 15px;}
.reserveWrap #reservation tr td label{color: red; font-weight: lighter; padding-left: 20px;}
.reserveWrap #reservation tr td #reservContent{width: 100%;}

.reserveWrap #reservation #reservBtn{width: 150px; height: 40px; background: #337ab7; color: #fff; border: none; font-size: 16px; margin: 10px 10px 10px 20%;}
.reserveWrap #reservation #reservBtn:hover{background: #89aaed; color: #fff;}
.reserveWrap #reservation #cancelBtn{width: 150px; height: 40px; background: #a91414; color: #fff; border: none; margin: 10px 0 10px 10px;}
.reserveWrap #reservation #cancelBtn:hover{background: #d8736c; color: #fff;}

.reserveWrap .reserveList{width: 100%; height: 100%; overflow: hidden; margin: 0 auto;}
.reserveWrap .reserveList th{text-align: center; font-size: 15px; border-bottom: 2px solid #337ab7; color: #333;}
.reserveWrap .reserveList td{text-align: center; font-size: 15px; border-bottom: 1px solid #e7e7e7; color: #333; font-weight: normal; padding: 8px 0;}

.reserveWrap .reserveList #rUpdate{width: 80px; height: 24px; background: #337ab7; color: #fff; border: none;}
.reserveWrap .reserveList #rUpdate:hover{background: #89aaed; color: #fff;}
.reserveWrap .reserveList #rCancel{width: 80px; height: 24px; background: #a91414; color: #fff; border: none;}
.reserveWrap .reserveList #rCancel:hover{background: #d8736c; color: #fff;}
.reserveWrap .reserveList #goReview{width: 105px; height: 24px; background: #337ab7; color: #fff; border: none;}
.reserveWrap .reserveList #goReview:hover{background: #89aaed; color: #fff;}
/* sub_reserve */

/* notice */
.boardWrap{width: 900px; height: 100%; overflow: hidden; margin: 0 auto;}

.boardWrap table{width: 100%; margin-bottom: 50px;}
.boardWrap th{background: #337ab7; color: white; font-size: 18px; font-weight: bold; text-align: center; padding: 6px;}
.boardWrap tr{border-bottom: 1px solid #e9e9e9; font-size: 15px; font-weight: normal;}
.boardWrap tr:last-child{border-bottom: 2px solid #999;}
.boardWrap tr:hover td{background: #e7e7e7}
.boardWrap tr td{text-align: center;}
.boardWrap tr td:nth-child(2){text-align: left;}

.boardWrap #link{text-decoration: none; color: inherit; cursor: pointer;}
.boardWrap #link:hover{text-decoration: underline;}

.letterWrap{width: 900px; height: 100%; overflow: hidden; margin: 20px auto; border: 1px solid #ccc; font-size: 18px;}
.letterWrap .lHead{width: 100%; border-bottom: 1px solid #e2e2e2; padding: 10px 5px;}
.letterWrap .lHead h3{text-align: center; font-size: 20px; padding: 0; margin: 0;}
.letterWrap .lHead span:nth-child(1){padding: 0 0 0 10px;}
.letterWrap .lHead span:nth-child(2){margin: 10px; font-size: 12px; color: #999; word-spacing: 5px;}
.letterWrap .lHead span:nth-child(3){float: right; height: 300px; font-size: 14px; color: #888; padding: 0 10px 0 5px;}
.letterWrap .letterCont{padding: 20px; font-weight: normal; font-size: 15px;}
.letterWrap .letterCont #content{width: 860px; height: 445px;}

.letterWrap .btn{width: 100%; word-spacing: 6px; text-align: right; font-weight: bold;}
.letterWrap .btn a{text-decoration: none; color: inherit;}
.letterWrap .btn a:hover{color: #337ab7}

.letterBtn{width: 96%; height: 100%; overflow: hidden; margin: 0 auto;}
.letterBtn #writeBtn{width: 100px; height: 30px; background: #337ab7; color: #fff; border: none; margin: 10px 10px 10px 28%;}
.letterBtn #writeBtn:hover{background: #89aaed; color: #fff;}
.letterBtn #cancelBtn{width: 100px; height: 30px; background: #a91414; color: #fff; border: none; margin: 10px 0 10px 10px;}
.letterBtn #cancelBtn:hover{background: #d8736c; color: #fff;}
.letterBtn #resetBtn{width: 100px; height: 30px; background: #77778b; color: #fff; border: none; margin: 10px auto;}
.letterBtn #resetBtn:hover{background: #7583a0; color: #fff;}

.letterBtn #updateBtn{width: 100px; height: 30px; background: #337ab7; color: #fff; border: none; margin: 10px auto;}
.letterBtn #updateBtn:hover{background: #89aaed; color: #fff;}
.letterBtn #delBtn{width: 100px; height: 30px; background: #77778b; color: #fff; border: none; margin: 10px auto;}
.letterBtn #delBtn:hover{background: #7583a0; color: #fff;}
.letterBtn #repleBtn{width: 100px; height: 30px; background: #337ab7; color: #fff; border: none; margin: 10px auto;}
.letterBtn #repleBtn:hover{background: #89aaed; color: #fff;}
.letterBtn #listBtn{width: 100px; height: 30px; background: #77778b; color: #fff; border: none; margin: 10px auto;}
.letterBtn #listBtn:hover{background: #7583a0; color: #fff;}

.letterWrap .commentWrap{width: 96%; height: 100%; overflow: hidden; border-top: 1px solid #e2e2e2; margin: 0 auto; margin-bottom: 15px;}
.letterWrap .commentCount{margin-bottom: 10px;}
.letterWrap .commentCount a{padding: 0 10px; font-size: 14px; font-weight: bold; color: #222;}

.letterWrap .comment{height: 100%; overflow: hidden; border-bottom: 1px solid #e7e7e7; margin: 20px 0;}
.letterWrap .comment span:FIRST-CHILD{font-size: 14px; font-weight: bold; border-bottom: 2px solid #777; float: left;}
.letterWrap .comment span:nth-child(2){text-decoration: none; margin: 0 20px; font-size: 12px; font-weight: lighter; text-align: center; color: #999; float: left;}

.letterWrap .comment .replayArea span:nth-child(1){border-bottom: none; margin-top: -6px;}
.letterWrap .comment .replayArea span:nth-child(2){margin: 3px; color: inherit; font-size: 14px; font-weight: bold; border-bottom: 2px solid #777; float: left;}
.letterWrap .comment .replayArea span:nth-child(3){text-decoration: none; margin: 0 20px; font-size: 12px; font-weight: lighter; text-align: center; color: #999; float: left;}

.letterWrap .comment .commBtn{width: 100%; font-size: 12px; word-spacing: 6px; font-weight: lighter;}
.letterWrap .comment .commBtn a{text-decoration: none; color: inherit;}
.letterWrap .comment .commBtn a:hover{color: #337ab7}

.letterWrap .comment p{padding: 10px 20px; font-size: 15px; font-weight: lighter;}

.letterWrap .commentWrite #comment{width: 90%; height: 40px;}
.letterWrap #cWriteBtn{width: 9.5%; height: 40px; background: #337ab7; color: #fff; border: none; font-size: 15px;}
.letterWrap #cWriteBtn:hover{background: #89aaed; color: #fff;}

.boardBtn{width: 100%; height: 100%; overflow: hidden; margin: 0 auto;}
.boardBtn select, input{height: 25px;}
.boardBtn #searchBtn{width: 100px; height: 25px; background: #77778b; color: #fff; border: none;}
.boardBtn #searchBtn:hover{background: #7583a0; color: #fff;}
.boardBtn #writeBtn{width: 100px; height: 25px; background: #337ab7; color: #fff; border: none; float: right;}
.boardBtn #writeBtn:hover{background: #89aaed; color: #fff;}

.pageWrap{width: 900px; height: 100%; overflow: hidden; margin: 0 auto; padding: 20px 0;}
.pageWrap .page{width: 80px; height: 100%; overflow: hidden; margin: 0 auto;}
.pageWrap .prev{width: 20px; height: 20px; overflow: hidden; background: #337ab7 center center; float: left; margin: 0 0 0 45%; color: white;}
.pageWrap .pageNum{width: 20px; height: 20px; overflow: hidden; font-weight: bold; float: left; padding: 0 5px;}
.pageWrap .next{width: 20px; height: 20px; overflow: hidden; background: #337ab7 center center; font-family: "맑은 고딕"; color: white;}
/* notice */


/* subImg */
.subImg01{background: url(../img/food01.jpg) no-repeat center; background-size: cover; height: 300px;}
.subImg02{background: url(../img/food02.jpg) no-repeat center; background-size: cover; height: 300px;}
.subImg03{background: url(../img/food03.jpg) no-repeat center; background-size: cover; height: 300px;}
.subImg04{background: url(../img/food04.jpg) no-repeat center; background-size: cover; height: 300px;}
.subImg05{background: url(../img/food06.jpg) no-repeat; background-position: 40% 60%; background-size: cover; height: 300px;}
.subImg06{background: url(../img/food05.jpg) no-repeat; background-position: 40% 60%; background-size: cover; height: 300px;}
/* subImg */